.Navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 10vh;
    padding: 0 3em;
}


.Liens {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    gap: 2em;
    font-size: 20px;
    height: 5vh;
}

.nouveauLogo {
    width: 60%;
    position: relative;
    z-index: 1;
}

.icons {
    display: flex;
    gap: 2em;
    position: relative;
    z-index: 1;
}

.Liens li {
  position: relative;
  padding: 12px 20px;
  color: #475569;
  transition: color 0.2s;
}

.Liens li::after {
     content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 2px;
    border-radius: 16px;
    background-color: #5E4AB2;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: center;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
}

.Liens li:hover {
  color: #2563EB;
}

.Liens li:hover::after {
  transform: scaleX(1);
}

.Liens li.active {
  color: #2563EB;
  font-weight: 500;
}

.Liens li.active::after {
  transform: scaleX(1);
}