


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

  body {
      min-height: 100vh;
      overflow-x: hidden;
      font-family: 'DM Sans', sans-serif;
    }

  h1, h2 {
     font-weight: 700; 
     color: #1E1E1E;
    }


  h3, h4 {
     font-family: 'Raleway', sans-serif; font-weight: 600;
     color: #1E1E1E; 
    }


  p, a {
     font-family: 'Inter', sans-serif; font-weight: 400; 
     color: #1E1E1E;
    }  

  .CEEnTete {
    position: fixed;
    top: 10vh;
    width: 100%;
    z-index: -1;
  }

  .titreAccroche {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    position: absolute;
    color: #ffffff;
    top: 50vh;
    left: 8%;
    font-size: 2.5rem;
    width: 35%;
  }

  .paraAccroche {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    color: #3B82F6;
    font-weight: 800;
    top: 73vh;
    left: 8%;
    font-size: 1.75rem;
    width: 30%;
  }

  .btnEgarette {
    background-color: #1E1E1E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .btnSaveurs {
    background-color: transparent;
    color: #1E1E1E;
    padding: 10px 20px;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
    cursor: pointer;
  }