* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

  body {
      min-height: 100vh;
      overflow-x: hidden;
    }

  h1, h2 {
     font-family: 'Montserrat', sans-serif; font-weight: 700; 
     color: #1E1E1E;
    }


  h3, h4 {
     font-family: 'Raleway', sans-serif; font-weight: 600;
     color: #1E1E1E; 
    }


  p, a {
     font-family: 'Inter', sans-serif; font-weight: 400; 
     color: #1E1E1E;
    }  

  .CEEnTete {
    position: fixed;
    top: 10vh;
    z-index: 0;
  }