

.heroContainer {
  position: relative;
  width: 100%;
  padding-bottom: 10vh;
}

.CEEnTete {
  width: 100%;
  display: block;
  max-height: 90vh;
  object-fit: cover;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  gap: 1.5rem;
}

.titreAccroche {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  color: #F5F0E8;
  text-shadow: 0 2px 12px rgba(0,0,0,0.6);
  font-size: 2.5rem;
  text-align: start;
  width: 50%;
}

.paraAccroche {
  font-family: 'DM Serif Display', serif;
  color: #C9A84C;
  text-shadow: 0 1px 8px rgba(0,0,0,0.5);
  font-weight: 700;
  font-size: 2rem;
  text-align: start;
  width: 50%;
}

.btnGroup {
  display: flex;
  gap: 12px;
  justify-content: star;
}

.btnEgarette {
  background-color: #1E1E1E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnSaveurs {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}