* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

  body {
      /* background-image: url('../assets/Images/DevantureMagasin.jpg'); */
     background: linear-gradient(to right, #7DD4F0, #4AAEDC, #1A5BBF);
      min-height: 100vh;
      overflow-x: hidden;
    }
